{% extends 'base.html'%}

{% block content %}

<h2>Countries On The Bucket List!</h2>
<div class="places">
{%for countries in countries%}

<section class="specific_places">
    <div class="mainhead">{{countries.name}}</div> <div class="sub2">{{countries.continent.name}}</div>
    <div class="sub2">{% if countries.visited == True %}
    Yaaas!! Another destination done!
    {% endif %}
    {% if countries.visited == False %}
    Gotta get them monies!
    {% endif %}</div>
    <a href="/countries/{{countries.id}}/edit">Edit</a>

    <form class="delete-form" action="/countries/{{countries.id}}/delete" method="POST">
        <button type="submit"> Remove From The Bucketlist!</button> 
</section>
{% endfor %}
</div>


{% endblock %}
