{% extends 'base.html'%}

{% block content %}


<h2>Add A City To Explore!</h2>

<form action="/cities" method="post">
    <div>
      <label for="city">City:</label>
      <input type="text" id="city" name="city" placeholder="Paris" required autofocus>
    </div>
  
    <div>
      <label for="country">Country:</label>
      <select id="country_id" name="country_id">
        {% for countries in countries %}
        <option value="{{ countries.id}}">{{countries.name}}</option>
        {% endfor %}
      </select>
    </div>
  
  
    <div>
        <label for="continent">Continent:</label>
        <select id="continent" name="continent_id">
          {% for continents in continents %}
            <option value="{{ continents.id }}">{{ continents.name }}</option>
          {% endfor %}
        </select>
      </div>
    

    <div>
      <label for="visited">Visited:</label>
      <select id="visited" name="visited">
        <option value="true">Been There Done That!</option>
        <option value="false">Gotta Save My Dolla To Go!</option>
      </select>
    </div>
  

  
    <button type="submit">Add To The Bucketlist!</button>
  
  </form>

             
    

{% endblock %}