

footer{
    background-color: white;
    
}


h1{

    text-align: right;
    color: blanchedalmond;
    
    
}

h2{

    color:blanchedalmond;
    text-align: center;
    font-size: 80px;
}
p {

    text-align: center;
    color: blanchedalmond;
    font-size: 60px;
}