<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Wanderlust</title>
</head>
<body>
  <style>
    main {
      background-image: url('https://www.ikea.com/gb/en/images/products/bjoerksta-picture-with-frame-black-and-white-world-map-aluminium-colour__0996864_pe822547_s5.jpg?f=xl');
      background-repeat: no-repeat;
      background-size: cover;
      height: 1250px;
    }
    </style>
    <h1 id="mainpageheader"><i>Wanderlust</i></h1>
   
    </div>
   <nav>
<ul id="myMenu">
  <li><a href="/">Home</a></li>
  <li><a href="/cities">Cities</a></li>
  <li><a href="/cities/new">Add A New City</a></li>
  <li><a href="/cities/edit">Check Off A City On The Bucketlist!</a></li>
  <li><a href="/cities/delete"> Remove A City Off The Bucket List Item!</a></li>
  <li><a href="/countries">Countries</a></li>
  <li><a href="/countries/new">Add A New Country</a></li>
  <li><a href="/countries/edit">Update The Countries In Your Bucket</a></li>
  <li><a href="/countries/delete">Remove A Country Off The Bucket List!</a></li>
  <li><a href="/continents">Continents</a></li>
</ul>
      </nav>
      <hr>
      <main>
      {% block content %}
      {% endblock %}
      </main>
      <hr>
      <footer>Wanderlust 2022</footer>
</body>
</html>